#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.control-panel {
  /* border: solid; */
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 12px;
}

.control-block {
  /* border: solid; */
  background-color: rgba(190, 224, 239, 0.215);
  display: inline-block;
  min-width: 120px;
  min-height: 120px;
  padding: 8px;
  gap: 8px;
}

.control-label {
  /* border: solid; */
  position: relative;
  top: 0px;
}

.control-element {
  /* border: solid; */
  position: relative;
  top: 0px;
  margin: 10px;
}

.force-centering {
  /* border: solid; */
  display: inline-block;
  /* flex-direction: column; */
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px;
  padding: 8px;
}
